<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h1 class="card-title">User Details</h1>
    <h5 class="card-title">First Name: {{user.FirstName}}</h5>
    <h5 class="card-title">Last Name: {{user.LastName}}</h5>
    <h5 class="card-title">Email: {{user.email}} </h5>
    <h5 class="card-title"> Phone no.:{{user.phone}}</h5>
    
    <a href="/" class="card-link">Back</a>
    {{!-- <a href="#" class="card-link">Another link</a> --}}
  </div>
</div>